@mixin medai ($point) {
    @if $point ==mobail {
        @media (max-width : 767px) {
            @content;
        }
    }

    @else if $point ==small {
        @media (min-width : 768px) {
            @content;
        }
    }

    @else if $point ==max-medium {
        @media (max-width : 992px) {
            @content;
        }
    }

    @else if $point ==medium {
        @media (min-width : 992px) {
            @content;
        }
    }

    @else if $point ==max-large {
        @media (max-width : 1200px) {
            @content;
        }
    }

    @else if $point ==large {
        @media (min-width : 1200px) {
            @content;
        }
    }
}

.ele {
    color: #98FAEC;
    font-size: 14px;
    &.top {
        margin-bottom: 17px;
    }
    &.bottom {
        margin-top: 17px;
    }
}

.scroll-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 40px;
    .mouse {
        width: 28px;
        height: 45px;
        border: 2px solid #00e5d4;
        border-radius: 20px;
        position: relative;
        .wheel {
            width: 4px;
            height: 10px;
            background: #00e5d4;
            border-radius: 4px;
            position: absolute;
            top: 8px;
            left: 50%;
            transform: translateX(-50%);
            animation: wheelMove 1.6s infinite ease-in-out;
        }
    }
    .line {
        width: 2px;
        height: 60px;
        border-right: 2px dashed #ccc;
        opacity: 0.8;
    }
    .diamond {
        width: 10px;
        height: 10px;
        border: 2px solid #fff;
        transform: rotate(45deg);
        background-color: #fff;
    }
}

.title {
    width: fit-content;
    margin: auto;
    p {
        font-size: 64px;
        color: #12F7D6;
    }
    div {
        margin-top: 15px;
        position: relative;
        width: 100%;
        height: 1px;
        background-color: #12F7D6;
        &::after {
            top: -5px;
            left: -5px;
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #12F7D6;
        }
        &::before {
            top: -5px;
            right: -5px;
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #12F7D6;
        }
    }
}

.back {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #292F36;
    opacity: 0.8;
}

.p-title {
    margin: 17px 0px 64px 0px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}